<html lang="en">
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>nav3dart</title>
	</head>
	<body>
		<a href="/">Home</a>
        <a href="/about/">About me</a>
        <a href="/portfolio/">Portfolio</a>
		<h1>Portfolio</h1>
		<h2>Skills:</h2>
		<a>* Blender</a>
		<a>* Substance 3D Painter</a>
		<a>* Photoshop</a>
		<a>* Unity</a>
	</body>
</html>
